- if user_signed_in?
  %h1 Willkommen in your pain management app
  %nav
  = link_to "Log Today's Data", new_painscore_path
  = link_to 'Results', results_path
  = link_to 'Stats', stats_path
  %br
  = link_to "Logout", destroy_user_session_path, method: :delete
- else
  %br
  = link_to "Login", new_user_session_path
  %br
  = link_to "Register", new_user_registration_path
