%h1 Wilkommen
- if user_signed_in?
  = link_to 'Log Food', new_foodlog_path
  %br
  = link_to 'Log Pain', new_painscore_path
  %br
  = link_to 'Results', results_path
  %br
  = link_to "Logout", destroy_user_session_path, method: :delete
- else
  %br
  = link_to "Login", new_user_session_path
  %br
  = link_to "Register", new_user_registration_path
