%h1 Stats for GP

%table{:style => "width:100%"}
  %tr
    %th Date
    %th Score
    %th Food
    %th Name
    %th Exertion
- if !@painscores.empty?
  - @painscores.each do |f|
    %tr
      %td= f.customdate
      %td= f.score
      %td= f.food
      %td= f.name
      %td= f.exertion
- else
  %h1 No Results Yet





  
