%h1{:align => "center"} Statistics

:css
  table, th, td {
      border: 1px solid grey;
      border-collapse: collapse;
      font-family: 'Source Sans Pro', sans-serif;
      color:#d0e1e1;
  }

  h1 {
    font-family: 'Source Sans Pro', sans-serif;
    color:#d0e1e1;
  }

  body {
    background-image: url("https://maddancer.com/wp-content/uploads/2014/12/elegant-blue-background_fJXpR_Su.jpg");
  }

%table{:style => "width:100%"}
  %tr
    %th Date
    %th Score
    %th Food
    %th Activity
    %th Exertion
  - if !@painscores.empty?
    - @painscores.each do |f|
      %tr{:align => "center"}
        %td= f.customdate
        %td= f.score
        %td= f.food
        %td= f.name
        %td= f.exertion
  - else
    %h1 No Results Yet
