%h1{:align => "center"} Statistics

:css
  table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      font-family: 'Source Sans Pro', sans-serif;
  }

  h1 {
    font-family: 'Source Sans Pro', sans-serif;
  }

  body {
    background-color: #AED6F1;
  }

%link{:href => "mystyle.css", :rel => "stylesheet", :type => "text/css"}/

%table{:style => "width:100%"}
  %tr
    %th Date
    %th Score
    %th Food
    %th Name
    %th Exertion
  - if !@painscores.empty?
    - @painscores.each do |f|
      %tr{:align => "center"}
        %td= f.customdate
        %td= f.score
        %td= f.food
        %td= f.name
        %td= f.exertion
  - else
    %h1 No Results Yet
