= form_for Activity.new do |a|
  %h3 Please enter your Activity here:
  = a.label :date
  = a.date_field :customdate
  = a.text_field :name
  %h3 How would you rate your Exertion from 1 - 10 ?
  = a.text_field :exertion
  = a.submit :'Add Activity'
