= form_for Activity.new do |a|
  %h3 Please enter any activities:
  = a.hidden_field :customdate, :value => params[:customdate]
  = a.text_field :name
  %h3 Please enter activity exertion on a scale from 1 - 10 here:
  = a.text_field :exertion
  = a.submit 'Add Activity'

- if @activities.any?
  - @activities.each do |a|
    %h3{:align => "center"}= a.customdate
    %h3= a.name
    %h3= a.exertion
    .delete
    = button_to 'Delete', activity_path(a), method: :delete
- else
  %h3 No Activity Logged Yet
= link_to '<button type="button">Home</button>'.html_safe, welcome_index_path
